<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ICustomerBusiness" type="Crosslog.TestRecrutement.Library.Business.ICustomerBusiness, Crosslog.TestRecrutement.Library" />
    
    <namespace name="Crosslog.TestRecrutement.Library" />
    <assembly name="Crosslog.TestRecrutement.Library" />

    <alias alias="ICustomerDataAccess" type="Crosslog.TestRecrutement.Library.ICustomerDataAccess, Crosslog.TestRecrutement.DataAccess" />
    
    <namespace name="Crosslog.TestRecrutement.DataAccess" />
    <assembly name="Crosslog.TestRecrutement.DataAccess" />

    <container>
      <types>
        <type type="ICustomerBusiness" mapTo="CustomerBusiness">
          <lifetime type="singleton" />
        </type>
        <type type="ICustomerDataAccess" mapTo="CustomerDataAccess">
          <lifetime type="singleton" />
        </type>
      </types>
    </container>
   </unity>
  <connectionStrings>
    <clear/>
    <add name="TestRecrutementConnectionStrings"
     providerName="System.Data.SqlClient"
     connectionString=  
     "Data Source=.;Initial Catalog=TestRecrutement;Integrated Security=true"
    />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="DefaultConnectionStrings" value="TestRecrutementConnectionStrings" />
  </appSettings>
</configuration>
